
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b5998;
    padding: 10px 30px;
}
.logo-box {
    display: flex;
    align-items: center;
}
.logo-box span {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}
.menu-box {
    display: flex;
}
.menu-box a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.menu-box a:hover {
    text-decoration: underline;
}
.login {
    margin-top: 25px;
    text-align: center;
    background-color: #3b5998;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding:20px ;
    font-family:sans-serif ;
    color: aliceblue;
} 
